relics/download_images.py
script.js
training-troops.html
relics/raw_relics.js
relics/relics.js
research/merged_weapons_research.json
research/research_after_t6.json
research/research-merge.py
research/t6_research.json
